.profile__edit-button {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/edit-button.svg);
  background-size: 7px 7px;
  background-color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
