@import url(./__button/form__button.css);
@import url(./__header/form__header.css);
@import url(./__input/form__input.css);
@import url(./__error/form__error.css);
@import url(./__input_type_error/form__input_type_error.css);
@import url(./__button/_disabled/form__button_disabled.css);

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 330px;
}
