.form__button {
  /* width: 358px; */
  min-height: 50px;
  /* height: 100%; */
  width: calc(100% - 72px);
  margin: auto auto 36px auto;
  padding: 0px;
  background-color: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.5s;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}
