.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.svg);
  background-size: 22px 22px;
  background-color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.5;
}

