@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__info/element__info.css);
@import url(./__button/element__button.css);
@import url(./__delete/element__delete.css);

.element {
  width: 100%;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
}

