.element__delete {
  position: absolute;
  right: 15px;
  top: 19px;
  background-image: url(../../../images/Trash.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 19.3px;
  transition: opacity 0.5s;
  cursor: pointer;
}


  .element__delete:hover {
  opacity: 0.5;
}
