.modal__button {
  height: 40px;
  width: 40px;
  align-self: flex-end;
  margin-top: -40px;
  margin-right: -40px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 520px) {
  .modal__button {
    max-width: 282px;
    margin-right: 0px;
 }
}
