@import url(./__button/modal___button.css);
@import url(./__container/modal__container.css);

.modal {
  display: flex;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: none;
}

.modal_open {
  display: flex;
}

/* @media screen and (max-width: 520px) {
  .modal {
    max-width: 282px;
 }
} */



