.element__button {
  width: 20.76px;
  background-image: url(../../../images/element-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.element__button_like {
  background-image: url(../../../images/element-button-like-on.svg);
}
